# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md
!AGENTS.md
# Ignore backup files
**/*.bak
