.home {
  position: fixed;
  display: flex;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avatar {
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://120.78.133.198/usr/uploads/2018/01/1397637167.jpg);
  background-size: 100px 100px;
  border-radius: 50px;
  background-repeat: no-repeat;
  margin: 20px;
}

.logo {
  margin-left: 100px;
}

a {
  color: #00cc99;
}

.link a {
  margin: 5px;
}